[submodule "beterano-map"]
	path = beterano-map
	url = https://github.com/BeteranoCode/beterano-map.git
	branch = dev
[submodule "marketplace-inbox-manager"]
	path = marketplace-inbox-manager
	url = https://github.com/BeteranoCode/marketplace-inbox-manager.git
[submodule "beterano-catalogo-web"]
	path = beterano-catalogo-web
	url = https://github.com/BeteranoCode/beterano-catalogo-web.git
[submodule "beterano-data"]
	path = beterano-data
	url = https://github.com/BeteranoCode/beterano-data.git
[submodule "beterano-web-header"]
	path = beterano-web-header
	url = https://github.com/BeteranoCode/beterano-web-header.git
	branch = dev
